<header id="page-topbar">
  <div class="layout-width">
    <div class="navbar-header">
      <div class="d-flex">
        <div class="navbar-brand-box horizontal-logo">
          <a href="{{ path('admin_dashboard') }}" class="logo logo-dark">
            <span class="logo-sm"><img src="{{ asset('velzon/images/logo-sm.png') }}" height="22" alt=""></span>
            <span class="logo-lg"><img src="{{ asset('velzon/images/logo-dark.png') }}" height="17" alt=""></span>
          </a>
          <a href="{{ path('admin_dashboard') }}" class="logo logo-light">
            <span class="logo-sm"><img src="{{ asset('velzon/images/logo-sm.png') }}" height="22" alt=""></span>
            <span class="logo-lg"><img src="{{ asset('velzon/images/logo-light.png') }}" height="17" alt=""></span>
          </a>
        </div>
        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none">
          <span class="hamburger-icon"><span></span><span></span><span></span></span>
        </button>
      </div> 

      <div class="d-flex align-items-center">
        <div class="dropdown ms-sm-3 header-item topbar-user">
          <button type="button" class="btn material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex align-items-center">
              <img class="rounded-circle header-profile-user" src="{{ asset('velzon/images/users/avatar-1.jpg') }}" alt="Header Avatar">
              <span class="text-start ms-xl-2">
                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ app.user ? app.user.fullname : 'Compte' }}</span>
                <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">{{ app.user ? 'Connecté' : 'Invité' }}</span>
              </span>
            </span>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
          <h6 class="dropdown-header">Welcome {{ app.user ? app.user.fullname }}</h6>
              <a class="dropdown-item" href="{{ path('app_user_show', {id: app.user.id}) }}"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>
              <div class="dropdown-divider"></div>
            {% if app.user %}
              <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="mdi mdi-logout me-1"></i> Logout</a>
            {% else %}
              <a class="dropdown-item" href="{{ path('app_login') }}"><i class="mdi mdi-login me-1"></i> Login</a>
            {% endif %}
          </div>
           
        </div>
      </div>
    </div>
  </div>
</header>
