<!doctype html>
<html lang="en"
      data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable"
      data-theme="default" data-theme-colors="default">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Dashboard | Velzon{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />

  <link rel="shortcut icon" href="{{ asset('velzon/images/favicon.ico') }}">

  {# libs css #}
  <link href="{{ asset('velzon/libs/jsvectormap/jsvectormap.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('velzon/libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" />

  <script src="{{ asset('velzon/js/layout.js') }}"></script>
  <link href="{{ asset('velzon/css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('velzon/css/icons.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('velzon/css/app.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('velzon/css/custom.min.css') }}" rel="stylesheet" />

  {% block styles %}{% endblock %}
</head>
<body>

<div id="layout-wrapper">
  {# === Topbar (repris du template) === #}
  {% include 'partials/topbar.html.twig' %}

  {# === Sidebar (repris du template) === #}
  {% include 'partials/sidebar.html.twig' %}

  <div class="vertical-overlay"></div>

  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        {# HEADER PAGE OPTIONNEL #}
        {% block page_header %}{% endblock %}
        {% include 'partials/flashes.html.twig' %}
        {# CONTENU DES PAGES #}
        {% block body %}{% endblock %}
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © FyraCare
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Design & Develop by A. Adjanouhoun
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- end main content-->
</div><!-- END layout-wrapper -->

{# === JS === #}
<script src="{{ asset('velzon/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('velzon/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ asset('velzon/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ asset('velzon/libs/feather-icons/feather.min.js') }}"></script>
<script src="{{ asset('velzon/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
<script src="{{ asset('velzon/js/plugins.js') }}"></script>

<script src="{{ asset('velzon/libs/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ asset('velzon/libs/jsvectormap/jsvectormap.min.js') }}"></script>
<script src="{{ asset('velzon/libs/jsvectormap/maps/world-merc.js') }}"></script>
<script src="{{ asset('velzon/libs/swiper/swiper-bundle.min.js') }}"></script>

<script src="{{ asset('velzon/js/pages/dashboard-ecommerce.init.js') }}"></script>
<script src="{{ asset('velzon/js/app.js') }}"></script>
<script src="{{ asset('https://code.jquery.com/jquery-3.6.4.min.js') }}"></script>


{% block scripts %}
 
  
{% endblock %}
<script>
(function () {
  // timeout en millisecondes (venant de .env via twig global)
  const TIMEOUT = ({{ inactivity_timeout|default(9000) }}) * 10000;
  let timer;

  const reset = () => {
    clearTimeout(timer);
    timer = setTimeout(() => {
      // Redirection vers l’écran de verrouillage
      window.location.href = "{{ path('app_lock_screen') }}";
    }, TIMEOUT);
  };

  // Événements considérés comme activité utilisateur
  ['click','keydown','mousemove','scroll','touchstart','touchmove'].forEach(ev => {
    document.addEventListener(ev, reset, { passive: true });
  });

  // premier armement
  reset();
})();
</script>
</body>
</html>
